{% extends "base_doctor.html" %}
{% load i18n %}

{% block body_block %}
<h1>{% trans "Occurrences" %}</h1>
{% include "calendarium/partials/category_list.html" %}
<form action="." method="post">
    {% csrf_token %}
    <input type="submit" name="previous" value="{% trans "Previous" %}" />
    <input type="submit" name="next" value="{% trans "Next" %}" />
    <input type="submit" name="today" value="{% trans "Today" %}" />
</form>
<table class="table">
    <tr>
        <th>{{ date|date:'D m/d' }}</th>
    </tr>
    <tr>
        {% for occurrence in occurrences %}
            <td><p>{{ occurrence }}</p></td>
        {% endfor %}
    </tr>
</table>
<br/>
<br/>

<p><a href="/calendar/">View Month</a></p>

{% endblock %}
