
#id_allergies {
	width : 400px;
	height : 100px;
}

#id_current_medications {
	width : 400px;
	height : 100px;
}

#id_chief_complaint {
	width : 400px;
	height : 100px;
}

#id_surgical_history {
	width : 400px;
	height : 100px;
}

#id_medical_history {
	width : 400px;
	height : 100px;
}

.container {
	width : 100%;
}

.fieldWrapper {
	width : 500px;
}
