{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}About{% endblock %}
{% block body_block %}
        <div class="page-header">
              <h1>About</h1>
        </div>

        <div>
        <p></strong>.</p>

        <!--<img  width="250" height="250" src="{% static "images/steth.jpg" %}" alt="About Page" />-->
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Appointments</h3>
          </div>
        </div>

        <!--<div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
               <h4>Appointments</h4>-->

        {% if appointments %}
        <ul class="list-group">
                {% for appointment in appointments %}
                <li class="list-group-item"> {{ appointment.patient_last_name }}</li>
                <li class="list-group-item"> {{ appointment.appointment_date }}</li>
                <li class="list-group-item"> {{ appointment.patient_phone_number }}</li>
                {% endfor %}
        </ul>
        {% else %}
            <strong>There are no appointments present.</strong>
        {% endif %}

        <a href="/oneclickvitals/">Index</a><br />

{% endblock %}
