

{% extends 'base_doctor.html' %}
{% load staticfiles %}

{% block title %}AddAppointment{% endblock %}

{% block body_block %}

    <div class="page-header">
          <h1>Add New Appointment</h1>
    </div>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "48952996-13d3-49f3-9854-e6438041a4b3", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

    {% if bootstrap == 3 %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    {% endif %}
    {% if form %}
    {{ form.media }}
    {% endif %}
    </head>
    <body>
      
      <div class="container">
        <div class="header">
        <ul style="padding-right:60px" class="nav nav-pills pull-right">

          <li {% if bootstrap == 3 %} class="active"{% endif %}><a href="/model_form_v3/">Bootstrap 3</a></li>
        </ul>

    </div>
    <form action="{{ action }}" method="POST">{% csrf_token %}
      <ul>
        {{ form.as_ul }}
      </ul>
      <button type="submit" class="save btn btn-primary">Save</button>

    </form>
    </div>
    </body>
{% endblock %}
