{% extends 'base_patient.html' %}
{% load staticfiles %}


{% block title %}PatientLabResult{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}

    <div class="page-header">

          <h1>MY LAB RESULTS</h1>

    </div>
    <div class="container">
      <div class="header">
      <ul style="padding-right:60px" class="nav nav-pills pull-right">


        <li {% if bootstrap == 3 %} class="active"{% endif %}><a href="/model_form_v3/"></a></li>

      </ul>
    </div>
    <div class="table-responsive">
      {% if labtest.test_type == 'urine_culture' %}
      {% for n in labresult_list %}
      <table class="table table-bordered">
        <tbody>

          <tr>
              <th scope="row" class="col-md-2">Test Date</th>
              <td>{{labresult_list.test_date}}</td>
          </tr>
          <tr>
              <th scope="row" class="col-md-2">Test Type</th>
              <td>{{labresult_list.test_type}}</td>
          </tr>
          <tr>
              <th scope="row" class="col-md-2">Specific Gravity</th>
              <td>{{labresult_list.specific_gravity}}</td>
          </tr>
          <tr>
              <th scope="row" class="col-md-2">pH</th>
              <td>{{labresult_list.pH}}</td>
          </tr>
          <tr>
              <th scope="row" class="col-md-2">Protein</th>
              <td>{{labresult_list.protein}}</td>
          </tr>
          <tr>
              <th scope="row" class="col-md-2">Glucose</th>
              <td>{{labresult_list.glucose}}</td>
          </tr>
          <tr>
              <th scope="row" class="col-md-2">Ketones</th>
              <td>{{labresult_list.ketones}}</td>
          </tr>
          <tr>
              <th scope="row" class="col-md-2">Blood</th>
              <td>{{labresult_list.blood}}</td>
          </tr>
          <tr>
              <th scope="row" class="col-md-2">Leukocyte Esterase</th>
              <td>{{labresult_list.leukocyte_esterase}}</td>
          </tr>
          <tr>
              <th scope="row" class="col-md-2">Nitrite</th>
              <td>{{labresult_list.nitrite}}</td>
          </tr>
          <tr>
              <th scope="row" class="col-md-2">Bilirubin</th>
              <td>{{labresult_list.bilirubin}}</td>
          </tr>
          <tr>
              <th scope="row" class="col-md-2">Urobilinogen</th>
              <td>{{labresult_list.urobilinogen}}</td>
          </tr>

      </tbody>
      </table>
      {% endfor %}
      {% endif %}
    </div>
  </div>

{% endif %}
{% endblock %}
