{% extends 'base_doctor.html' %}
{% load staticfiles %}

{% block title %}Visit Summary{% endblock %}
{% block body_block %}

{% if user.is_authenticated %}

  <div class="page-header">
        <h1>Patient Visit Summary</h1>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr>
            <th scope="row" class="col-md-2">Name</th>
            <td>{{profile.user.first_name}} {{profile.user.last_name}}</td>
        </tr>
      </tbody
    </table>
  </div>

{% endif %}
{% endblock %}
