<!DOCTYPE html>
{% load staticfiles %}
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


<!-- ----- CSS ------------------------------------------ -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'media/ocv_icon.ico' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link href="{% static 'css/fullcalendar.css' %}" rel="stylesheet">
    <link href="http://arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.print.css" rel="stylesheet" />

    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap-filterable.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet">

    <link href="{% static 'css/textfield.css' %}" rel="stylesheet">

<!--

    <link href="{% static 'css/style.css' %}" rel="stylesheet"> -->

<!-- --------- JavaScript ------------------------------- -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script class="cssdesk" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" type="text/javascript"></script>

    <script class="cssdesk" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script class="cssdesk" src="//arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script src="{% static 'js/jquery.filterable.js' %}"></script>

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "48952996-13d3-49f3-9854-e6438041a4b3", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>



    <!-- Latest compiled and minified JavaScript -->
<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->


    {% if form %}
    {{ form.media }}
    {% endif %}

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "media/heartbeat-line-68.png" %}" alt="logo"/></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav ">
            {% if user.is_authenticated %}
                <li><a href="/oneclickvitals/">Home</a></li>
            {% else %}
            <li><a href="{% url 'auth_login' %}">Home</a></li>
            {% endif %}
                <li><a href="/about/">About</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="Patient">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Patient <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/add_newpatient/">Add</a></li>
                            <li><a href="/patient_details/">View</a></li>
                            <li><a href="#">Edit</a></li>
                          </ul>
                        </li>

                        <li class="Appointment">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Appointment <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/appointment/">Add</a></li>
                            <li><a href="/appointment_details/">View</a></li>
                            <li><a href="#">Edit</a></li>
                          </ul>
                        </li>

                        <li class="Diagnosis">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Diagnosis <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/diagnosis/">Add</a></li>

                          </ul>
                        </li>

                        <li><a href="{% url 'registration_register' %}">Register Here</a></li>
                        <li class="Prescription">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Prescription <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/add_prescription/">Add</a></li>
                            <li><a href="/prescription_list/">View</a></li>
                          </ul>
                        </li>
                        <li class="Radiology">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Radiology <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/add_radiology/">Add</a></li>
                            <li><a href="/radiology_list/">View</a></li>
                          </ul>
                        </li>
                        <li><a href="{% url 'auth_logout' %}?next=/accounts/logout/">Logout</a></li>

                    {% else %}
                        <li><a href="{% url 'registration_register' %}">Register New User</a></li>

                        <li><a href="{% url 'auth_login' %}">Login</a></li>
                    {% endif %}
            </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">


        <div class="row" style="position:relative">
            <div id="dr_main" class="col-md-10 col-md-push-2">
                {% block body_block %}{% endblock %}
            </div>

            <div id="dr_sidebar" class="col-md-2 col-md-pull-10" style="background-color:#F4F4F4; min-height:100%; position:absolute">
                {% block side_block %}
                  {% if request.user.is_authenticated %}
                      {% load oneclickvitals_extras %}
                        {% get_appointment_list %}
                        {% get_patient_list %}
                        {% get_radiology_list %}
                  {% endif %}
                {% endblock %}
            </div>
        </div>

      </div>

  </body>


<!--
<style type="css">
    #dr_sidebar {
        z-index: 5;
    }
    #dr_main {
        z-index: 1;
    }
</style>
-->
</html>
