{% extends 'base_doctor.html' %}

{% load staticfiles %}
{% block title %}IndexDoctor{% endblock %}
{% block body_block %}


<div style="padding-left:40px;" class="page-header">
    {% if user.is_authenticated %}
            <h1>Welcome to OneClickVitals, {{ user.username }}!</h1>
    {% else %}
            <h1>Welcome to OneClickVitals</h1>
    {% endif %}
</div>

    <div class="doctor_calendar"></div>
        <div class="container-fluid">
            <div id='calendar'></div>
        </div>
    



<!-- ------------ Javascript ----------------- -->
    <script type="text/javascript"> 
        jQuery(document).ready(function($) {
            $(window).load(function() { 
            
                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    editable: true
                });
            });
        });
    </script>
{% endblock %}
