{% extends 'base_doctor.html' %}

{% load staticfiles %}

{% block title %}IndexDoctor{% endblock %}
{% block body_block %}

{% if user.is_authenticated %}
    <div class="page-header">
        <h1>Welcome to OneClickVitals, {{ user.username }}!</h1>
{% else %}
        <h1>Welcome to Oneclickvitals</h1>
{% endif %}
    </div>

        <title>OneClickVitals</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
        <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->

        <img src="{% static "media/vitals.jpg" %}" alt="Our Logo" /><br /> <!-- Images -->

{% endblock %}
